# Node
node_modules/
dist/
build/

# Vite
.vite/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local
.env.production
.env.development

# Security
*.pem
*.key
*.crt

# Editor
.vscode/
.idea/

# TypeScript
*.tsbuildinfo

# Others
coverage/
